<!DOCTYPE html>
<html lang="en" data-ng-app="todo-webapp">
<head>
	<title>ExpressJS TODO App</title>

	<link rel="stylesheet" type="text/css" href="css/screen.css" />
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="lib/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/api.js"></script>
	<script type="text/javascript" src="js/webapp.js"></script>
</head>
<body data-ng-controller="main">
	<div class="noitems" data-ng-hide="items.length">
		<span>You have no items in your list. Add an item below.</span>
	</div>
	<ul class="list">
		<li data-ng-repeat="item in items" data-ng-class="{ finished: item.finished }">
			<button class="finish" data-ng-click="finish(item)">Mark as {{item.finished ? "Unfinished" : "Finished"}}</button>
			<span class="text">{{item.entry}}</span>
			<button class="delete" data-ng-click="delete(item._id)">Delete</button>
		</li>
	</ul>
	<br />
	<form class="form" data-ng-submit="add()">
		<div>
			<input data-ng-model="newItem.entry" type="text" placeholder="Add an item to the list..."/>
		</div>
		<div>
			<button type="submit">Add</button>
		</div>
	</form>
</body>
</html>