/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

* {
	box-sizing: border-box;
}

body {
	background: #ddd;
	margin: 15px;
}

button {
	padding: 10px;
}

.list {
	width: 100%;
	margin-bottom: 100px;

	li {
		margin: 5px;
		padding: 5px;
		background: #fff;

		// Angular animations.
		&.ng-enter {
			opacity: 0;
			transform: scale(0);
			transition: .2s linear all;
		}

		&.ng-enter-active {
			opacity: 1;
			transform: scale(1);
		}

		&.ng-leave {
			opacity: 1;
			max-height: 100px;
			transform: scale(1);
			transition: .2s linear all;
		}

		&.ng-leave-active {
			opacity: 0;
			max-height: 0;
			transform: scale(0);
		}

		&.finished {
			background: #efe;

			.text {
				text-decoration: line-through;
			}
		}

		.finish {

		}

		.delete {
			float: right;
		}
	}
}

.form {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	input[type="text"] {
		width: 100%;
		margin: 0;
		padding: 15px;
	}

	button[type="submit"] {
		width: 100%;
		margin: 0;
	}
}